.block-text-right {
    text-align: right;
}
.block-text-left {
    text-align: left !important;
}
.w-rem-9 {
    width: 9rem;
}
.nav-tabs {
    border-bottom: 0px !important;
    margin-bottom: 25px !important;
}
.nav-tabs .nav-link {
    margin-right: 16px !important;
    padding-right: 4px !important;
    padding-left: 4px !important;
}
.scroll-container {
    overflow: auto;
}
#editor {
    height: 400px;
}